// .example-card {
//     max-width: 400px;
//   }
  
//   .example-header-image {
//     background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//     background-size: cover;
//   }

div {
    background: url(../hackernews.png);
    height: 92.5%;
    background-repeat: no-repeat;
    position: absolute;
    background-size: 100% 100%;
    overflow: auto;
    width: 100%;
  }